.div {
  background-color: teal;
}
.rb {
  color: red;  
  font-size: 30px;
  height: 50px;
  width: 150px;
}
.bb {
  color: blue;
  font-size: 30px;
  height: 50px;
  width: 150px;
}
.ob {
  color: orange;  
  font-size: 30px;
  height: 50px;
  width: 150px;
}