.black {
width: 250px;
height: 250px;
margin-top: 50px;
margin-left: 150px;
background-color: black;
}
.red {
width: 250px;
height: 250px;
margin-top: 50px;
margin-left: 150px;
background-color: red;
}
.blue {
width: 250px;
height: 250px;
margin-top: 50px;
margin-left: 150px;
background-color: blue;
}
.orange {
width: 250px;
height: 250px;
margin-top: 50px;
margin-left: 150px;
background-color: orange;
}
